html{
    background-color: #fab8cef5;
}
body{
    /* max-width: 1200px; */
    margin: 0 auto;
    background-color: white;
}

.main-home:before{
    background-color: rgba(255, 255, 255, 0.315);
}

.conatiner-projects .project {
    width: 33.3%;
    max-width: 400px;
    padding: 10px;
    margin: 20px 10px;
}
.about{
    background-size: cover;
}

.work-together{
    padding: 0 100px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20% 50%;
}
.work-together h2{
    grid-column: 1 / 3;

}