:root{
    --backgroun-header: white;
    --contraste: #f8cfdd;
    --blackligth: #121111;
    --dark-transparente:rgba(37, 35, 35, 0.431);

}
@font-face {
    font-family: raleway;
    src: url(assets/fonts/raleway/Raleway-Light.ttf) format('truetipe');
}

*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
    font-family: raleway, 'sans-serif';
    text-decoration: none;
}
h2{
    text-transform: uppercase;
    text-align: center;
    font-size: 2rem;
    color: white;
    margin: 20px 0px ;
    position: relative;
}
h2::after{
    content: '';
    position: absolute;
    display: block;
    width: 100px;
    height: 3px;
    background-color: var(--contraste);
    bottom: 0;
    left: calc(50% - 50px);
}

header{
    width: 100vw;
    height: 50px;
    padding: 15px 0;
    background-color: var(--backgroun-header);
    box-shadow: 0px 0px 25px 0 rgb(0 0 0 / 8%);

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    z-index: 100;

    display: grid;
    grid-template-columns: 50% 40% 10%;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.rojas{
    font-family: raleway;
    font-size: 28px;
    font-weight: 300;
    padding-left: 15px;
}

.container-hamburguesa{
    grid-column: 3 / 4;
    justify-self: center;
    padding-right: 15px;
}
.container-hamburguesa .fa-bars{
    color: var(--celeste);
    font-size: 22px;
    font-weight: bold;
}
.header-container-redes{
    
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    justify-self: center;
}
.header-container-redes a{
    font-size: 18px;
    color: black;
    margin: 0 5px;
}
.header-container-redes a .fa-envelope:hover{
    color: red;
}
.header-container-redes a .fa-github:hover{
    color: white;
    background-color: black;
    border-radius: 50%;
}
.header-container-redes a .fa-linkedin-in:hover{
    color: #2977c9;
    text-shadow: 0px 0px 12px white;
}
.header-container-menu{
    width: 100%;
    background-color: var(--contraste);
    position: fixed;
    top: 50px;
    left: 100%;
    opacity: 0;
    transition: all .8s linear;
}
.header-container-menu ul{
    background-color: rgb(253, 253, 253);
}
.header-container-menu ul li:first-child{
    border-top: 1px solid rgb(202, 198, 198);
    
}
.header-container-menu ul li{
    border-bottom: 1px solid rgb(202, 198, 198);
    padding: 5px 0;
    padding-left: 5%;
    list-style: none;
    background-color: var(--contraste);
}
.header-container-menu ul li a{
    display: inline-block;
    width: 100%;
    font-size: 1.2rem;
    color: rgb(71, 70, 70);
}
.header-container-menu ul li:hover{
    background-color: var(--backgroun-header);
}
.header-container-menu ul li:hover a{
    color: black;
    border-bottom: 1px solid black;
    font-size: 1.2rem;
}
.container-hamburguesa:hover ~.header-container-menu{
    display: block;
    top: 50px;
    left: 0;
    opacity: 1;
}
    
.main-home{
    height: 100vh;
    background-image: url(./assets/img/fondo-compu.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    padding-top:  58px;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.main-home:before {
    content: "";
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

.main-home h1{
    font-size: 2.5rem;
    font-weight: 500;
    z-index: 99;
}
.main-home-text{
    width: 80%;
    text-align: center;
    margin-top: 20px;
    font-size: 1.5rem;
    color: #201b1b;
    z-index: 99;
}
.main-home-text p{
    font-size: 1.3rem;
    font-weight: 400;
}
.main-home-text p::after{
    content: '|';
    color: black;
    font-size: 1.3rem;
    animation: anim infinite linear;
    animation-fill-mode: forwards;
    text-align: center;
}
@keyframes anim{
    0%{
        opacity: 0;
    }
    25%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    75%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

/* PROYECTOS */

.projects{
    width: 100%;
    margin: 20px auto;
    padding: 40px 0 0;
}
.projects h2{
    color: black;
}
.projects .conatiner-projects{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.conatiner-projects .project{
    width: 90%;
    max-width: 400px;
    position: relative;
    overflow: hidden;
}
.conatiner-projects .project .ver{
    background-color: var(--dark-transparente);
    padding: 30px;
    
    position: absolute;
    left: 0;
    right: 0;
    top: 0px;
    bottom: 0px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    opacity: 0;
    visibility: hidden;
    transition: all 0.9s linear;
}
.conatiner-projects .project:hover > .ver{
    opacity: 1;
    visibility: visible;
    /* top: 0;
    bottom: 0; */
}
.conatiner-projects .project .ver a{
    font-size: 1rem;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 20px;
    color: black;
    font-weight: 400;
    margin: 5px;
    background-color: var(--contraste);
    box-shadow: inset 0px 0px 5px rgb(97, 97, 97);
    box-shadow: unset 0px 0px 10px rgb(252, 252, 252);
}
.conatiner-projects .project .ver a:hover{
    text-decoration: underline;
    font-weight: 500;
    font-size: 1.2rem;
}

.conatiner-projects .project h2{
    color: black;
}
.conatiner-projects .project h3{
    width: 100%;
    height: 50px;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    color: black;
}
.conatiner-projects .project figure{
    width: 100%;
    height: 200px;
    margin: 0px auto 20px;
    border-radius: 5px;

}
.conatiner-projects .project figure img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: all 0.8s linear;
}

.conatiner-projects .project:hover > .contenido > figure > img{
    transform: scale(1.2);
}
.conatiner-projects .project p{
    font-size: 1rem;
    text-align: center;
    letter-spacing: 2px;
}
/* ABOUT */
.about{
    height: auto;
    padding: 60px 10px 20px;
    background-color: var(--blackligth);

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

}
.about .about-me{
    width: 98%;
    margin-bottom: 20px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}
.about h2,
.technolgies h2{
    margin-bottom: 20px;
    text-align: center;
}
.about .about-p1{
    text-align: center;
    color: white;
    font-size: 1.1rem;
    line-height: 30px;
}
.about .about-me .download-cv{
    display: inline-block;
    color: white;
    font-size: 1.4rem;
    background-color: var(--dark-transparente);
    margin:10px auto;
    padding: 10px 15px ;
    border-radius: 10px;
}
.about .about-me .download-cv:hover{
    color: black;
    background-color: var(--contraste);
    box-shadow: inset 0px 0px 10px rgb(97, 97, 97);
    box-shadow: unset 0px 0px 10px rgb(252, 252, 252);
}

.technolgies{
    width: 95%;
    margin: 0 auto;
    height: auto;
    
}

.technolgies .container-technologies{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}
.technolgies .container-technologies .container-technologies-section div,
.technolgies .container-technologies .container-technologies-section{
    display: flex;
    flex-flow: row  wrap;
    justify-content: center;
    align-items: center;
}   
.technolgies .container-technologies .container-technologies-section{
    width: 100%;
    background-color: var(--dark-transparente);
    margin: 5px 1px;
    
}
.technolgies .container-technologies .container-technologies-section div{
    width: 100%;
    justify-content: space-evenly;
}
.technolgies .container-technologies .container-technologies-section h2{
    font-size: 1.5rem;
    font-weight: 400;
    margin: 10px 10px 0;
    text-transform: none;
}
.technolgies .container-technologies .container-technologies-section h2::after{
    background-color: transparent;
}
.technolgies .container-technologies .icons{
    width: 20%;
    min-width: 84px;
    max-width: 120px;
    height: auto;
    border-radius: 5%;
    padding: 15px 0 20px;
    transition: all 1s linear;
    position: relative;
}
.technolgies .container-technologies .icons i{
    display: block;
    text-align: center;
    font-size: 4rem;
    color: rgb(53, 53, 53);
    padding: 1px 10px;
}
.technolgies .container-technologies .icons h3{
    width: 100%;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    color: white;
    text-align: center;
    line-height: 30px;
    overflow: hidden;
    transform: translateY(10px);
    visibility: hidden;
    opacity: 0;
    transition: all .8s linear;
    position: absolute;
    bottom: 0;
}
.technolgies .container-technologies .icons:hover h3{
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}
.technolgies .container-technologies .html5:hover i{
    color:rgb(255, 123, 75);
}
.technolgies .container-technologies .css:hover i{
    color:royalblue;
}
.technolgies .container-technologies .js:hover i{
    color:yellow;
}
.technolgies .container-technologies .Sass:hover i{
    color:palevioletred;
}
.technolgies .container-technologies .Less:hover i{
    color:rgb(51, 215, 230);
}
.technolgies .container-technologies .git:hover i{
    color: orangered;
}
.technolgies .container-technologies .gitHub:hover i{
    color:black;
    text-shadow: 0 0 2px gray;
}
.technolgies .container-technologies .wordpress:hover i{
    color:#00749c;
}
.technolgies .container-technologies .bootstrap:hover i{
    color:rgb(86, 61, 124);
}
.technolgies .container-technologies .bootstrap:hover i{
    color:rgb(157, 75, 195);
}
/* Trabajemos juntos */
.work-together{
    width: 100%;
    height: auto;
    background-color: var(--azul);
    
}
.work-together .container-work-together{
    width: 100%;
    margin: auto;
    padding: 20px 2px;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 25% 50% 30%;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.work-together .container-work-together h2{
    text-shadow: 0px 0px 5px white;
    color: black;
}
.work-together p {
    width: 90%;
    margin: 50px auto;
    font-size: 1.2rem;
    text-align: center;
    
    letter-spacing: 2px;
    line-height: 1.5rem;
}
.work-together .work-together-container-redes{
    margin: 20px 0;
    color: black;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

}
.work-together .work-together-container-redes a{
    font-size: 3.5rem;
    margin: 0 20px;
    color: #201b1b;
}
.work-together .work-together-container-redes .fa-github:hover{
    color: gray;
}
.work-together .work-together-container-redes .fa-linkedin-in:hover{
    color: #2977c9;
}

.work-together .work-together-container-redes .fa-envelope:hover{
    color: red;
}
footer{
    height: 58px;
    background-color: var(--gris);
}
footer p{
    font-size: 1.3rem;
    text-align: center;
    line-height: 58px;
    background-color: var(--blackligth);
    color: white;
}
@media screen and (min-width:500px){
    .header-container-redes a {
        font-size: 1.5rem;
    }
    .container-hamburguesa{
        font-size: 1.5rem;
    }
    .about article{
        height: 40%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }
    .work-together .container-work-together{
        width: 85%;
        
    }
}
